<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>测试成绩</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
</head>
<body>
  <div class="ui menu">
    <a class="item">Home</a>
    <a class="item">Test Lib</a>
    <div class="right menu">
      <a class="item">About Us</a>
    </div>
  </div>

</body>
  <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
</html>